@page
@model SecondHandWebShop.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/loginstylesheet.css">



@*<div class="container">
    <div class="login-container">
        <div id="output"></div>
        <div class="form-box">
            <br />
            <h4>Admin Login</h4>
            <br />
            @Model.Message
            <form method="post" asp-page="Login">
                <input type="text" placeholder="Username" asp-for="@Model.UserName" />
                <input type="password" placeholder="Password" asp-for="@Model.Password" />
                <button class="btn btn-info btn-block login" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>*@


<div class="container">
    <div class="login-container">
        <div id="output"></div>
        <div class="form-box">
            <img class="mb-4" src="~/img/logo.png" alt="" width="150" height="150">
            <br />
            <h4 class="h3 mb-3 font-weight-normal">Admin Login</h4>
            <br />
            @Model.Message
            <form method="post" asp-page="Login">
                <input type="text" placeholder="Username" asp-for="@Model.UserName" />
                <input type="password" placeholder="Password" asp-for="@Model.Password" />
                <button class="btn btn-info btn-dark btn-block login" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>


@*<form class="form-signin">
    
    
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-dark btn-block" type="submit">Sign in</button>
</form>*@

@*<h1>Admin Login</h1>


    @Model.Message
    <form method="post" asp-page="Login">
            <fieldset>
                <div class="form-group">
                    <label asp-for="UserName">Email address</label>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                    <input type="text" asp-for="@Model.UserName" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email" />
                    <small id="emailHelp" class="form-text text-muted">This login is for <strong>admins only</strong>.</small>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <input type="password" asp-for="@Model.Password" class="form-control" id="InputPassword" placeholder="Password"/>
                </div>
                <button type="submit" value="Login" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>*@


@*<form method="post" asp-page="Login">
        <table>
            <tr>
                <td>Username</td>
                <td><input type="text" asp-for="@Model.UserName" /> </td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" asp-for="@Model.Password" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Login" /></td>
            </tr>
        </table>
    </form>*@

@*<form method="post">
        <fieldset>
            <div class="form-group">
                <label asp-for="UserName">Email address</label>
                <span asp-validation-for="UserName" class="text-danger"></span>
                <input type="@Model.UserName" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">This login is for <strong>admins only</strong>.</small>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
                <input type="@Model.Password" class="form-control" id="InputPassword" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>*@