@page
@model SecondHandWebShop.Pages.Admin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clothing</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clothing.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clothing.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clothing.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clothing.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clothing.Weather)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clothing.Weather)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clothing.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clothing.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clothing.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clothing.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clothing.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clothing.Discount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clothing.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clothing.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clothing.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clothing.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clothing.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clothing.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clothing.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clothing.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clothing.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clothing.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clothing.Material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clothing.Material)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clothing.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clothing.Size)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Clothing.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

